[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Tux Target
GenericName=Tux Target
Comment=Clone of the Monkey Target game
Exec=tux-target
Icon=tux-target
Categories=Game;ArcadeGame;
